body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

@media ( max-width : 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	body {
		padding-top: 0px;
		padding-bottom: 10px;
	}
	
	.nav-collapse, .nav-collapse.collapse {
		padding-top: 10px;
	}
}

/*--------Charts---------------*/

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/*--------Header---------------*/

#brand-image {
	width: 147px;
	height: 40px;
}

.navbar .brand {
	padding: 0px 20px 0px 5px;	
}

.hero-unit {
	padding: 1em;
	margin-bottom: 1em;
}


/*--------Charts---------------*/

#ratesList {
	margin-top: 1em;
}

#currencySelect {
	width: 9em;
}


.modal {
    z-index:    1000;
    position:absolute;
    top:50%;
    left:50%;
    margin:-100px 0 0 -150px;
    height: 120px;
    width:  300px;
    padding-left: 20px;
    background: rgba( 255, 255, 255, 1.5 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 70% 
                no-repeat;
}
