

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">Select currency</li>
					<li><select id="currencySelect" ng-model="selectedCurrency"
						ng-options="c.name for c in currencies" ng-change="updateRateData()">
					</select></li>
					<li><a href ng-click="updateRateData()">Refresh
							{{selectedCurrency.name}}</a></li>
					<li><a href ng-click="refreshAll()">Refresh all</a></li>
				</ul>
			</div>
			<!--/.well -->
		</div>
		<!--/span-->
		<div class="span9">
			<div class="hero-unit">
				<h3>Currency Rate Monitor --- {{selectedCurrency.name}}</h3>
				<p>Performance history (90 days) of different currencies against
					the European currency</p>
			</div>
			<div class="row-fluid">
				<div >
				<div ng-show="loading">
			    		Loading...
				</div>
					<div id="lineChart"  line-chart=""></div>
				</div>
			</div>
			<!--/row-->
		</div>
		<!--/span-->
	</div>
	<!--/row-->
</div><!--/.fluid-container-->